.well
  = form_for @message, html: { class: 'form-horizontal' } do |f|
    = render partial: 'shared/error_messages', locals: { item: @message }

    - if f.object.id.blank?
      = f.fields_for :message_users do |mu|
        #message-users
          .form-group
            = mu.label :user_id, t('views.emails.index.to'), class: 'control-label col-sm-3'
            .col-sm-7
              = mu.collection_select :user_id, @users, :id, :full_name_and_email,
                      { include_blank: t('views.general.please_select') }, { class: 'form-control' }
            .col-sm-1
              a.btn.btn-block.btn-info.user-remove-button
                .glyphicon.glyphicon-remove
            .col-sm-1
              a.btn.btn-block.btn-success.user-add-button
                .glyphicon.glyphicon-plus
    - else
      .form-group
        label.control-label.col-sm-3 = t('views.emails.index.to')
        .col-sm-9
          = f.fields_for :message_users do |mu|
            - unless mu.object.user_id == f.object.created_by
              p.form-control-static
                => link_to mu.object.user.full_name_and_email, new_message_url(to: mu.object.user.email)
                = message_viewed_or_not(mu.object.viewed)

    .form-group
      = f.label :subject_line, t('views.emails.form.subject_line'), class: 'control-label col-sm-3'
      .col-sm-9
        = f.text_field :subject_line, class: 'form-control'

    .form-group
      = f.label :body_content, t('views.emails.form.body_content'), class: 'control-label col-sm-3'
      .col-sm-9
        = f.text_area :body_content, class: 'form-control', rows: 8

    .form-group
      .col-sm-9.col-sm-offset-3
        => f.submit t('views.general.save'), class: 'btn btn-success'
        = link_to t('views.general.cancel'), emails_url
