h1 = t('views.navbar.sign_up')

.well
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' } ) do |f|
    = devise_error_messages!
    .form-group
      = f.label :first_name, t('views.users.form.first_name'), class: 'control-label col-sm-3'
      .col-sm-9
        = f.email_field :first_name, autofocus: true, class: 'form-control'
    .form-group
      = f.label :last_name, t('views.users.form.last_name'), class: 'control-label col-sm-3'
      .col-sm-9
        = f.email_field :last_name, class: 'form-control'
    .form-group
      = f.label :email, t('views.users.form.email'), class: 'control-label col-sm-3'
      .col-sm-9
        = f.email_field :email, class: 'form-control'
    .form-group
      = f.label :password, t('views.users.form.password'), class: 'control-label col-sm-3'
      / TODO: - if @minimum_password_length
        em
          | (
          =<> @minimum_password_length
          | characters minimum )
      .col-sm-9
        = f.password_field :password, autocomplete: 'off', class: 'form-control'
    .form-group
      = f.label :password_confirmation, t('views.users.form.password_confirmation'), class: 'control-label col-sm-3'
      .col-sm-9
        = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
    .form-group
      .col-sm-offset-3.col-sm-9
        = f.submit t('views.navbar.sign_up'), class: 'btn btn-success'

= render 'devise/shared/links'
