.well
  = form_for @user, html: { class: 'form-horizontal' } do |f|
    = render partial: 'shared/error_messages', locals: { item: @user }

    .form-group
      = f.label :email, t('views.users.form.email'), class: 'control-label col-sm-3'
      .col-sm-9
        = f.email_field :email, class: 'form-control'

    .form-group
      = f.label :first_name, t('views.users.form.first_name'), class: 'control-label col-sm-3'
      .col-sm-9
        = f.text_field :first_name, class: 'form-control'

    .form-group
      = f.label :last_name, t('views.users.form.last_name'), class: 'control-label col-sm-3'
      .col-sm-9
        = f.text_field :last_name, class: 'form-control'

    .form-group
      = f.label :password, t('views.users.form.password'), class: 'control-label col-sm-3'
      .col-sm-9
        = f.password_field :password, class: 'form-control'

    .form-group
      .col-sm-9.col-sm-offset-3
        => f.submit t('views.general.save'), class: 'btn btn-success'
        = link_to t('views.general.cancel'), users_url
