h1 = t('views.users.index.h1')
table.table.table-responsive.table-striped
  thead
    tr
      th = t('views.users.form.name')
      th = t('views.users.form.email')
      th
  tbody
    - @users.each do |user|
      tr
        td = link_to user.full_name, user
        td = link_to user.email, user
        td.text-right
          - if user.id == current_user.id
            = link_to t('views.users.index.delete'), user,
                    method: :delete, data: { confirm: t('views.general.delete_confirm') }, class: 'btn btn-xs btn-danger'

- if current_user&.admin?
  = link_to t('views.users.index.new'), new_user_url, class: 'btn btn-success'
