h1 = t('views.users.show.h1', { email: @user.email} )

table.table.table-bordered.table-responsive.table-striped
  tr
    th.col-sm-3 = t('views.users.form.email')
    td.col-sm-9 = @user.email
  tr
    th = t('views.users.form.name')
    td = @user.full_name
  tr
    th = t('views.users.form.id')
    td = @user.id

p
  => link_to t('views.general.back'), users_url, class: 'btn btn-info'
  = link_to t('views.general.edit'), edit_user_url(@user), class: 'btn btn-warning'
