- if item.errors.any?
   .panel.panel-danger
     .panel-heading
       = t('views.general.error_message', count: item.errors.keys.count)
     .panel-body
       ul
         - item.errors.full_messages.each do |msg|
           li = msg
