h1 = t('views.user_sessions.form.h1')

.well
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' } ) do |f|
    .form-group
      = f.label :email, t('views.users.form.email'), class: 'control-label col-sm-3'
      .col-sm-9
        = f.email_field :email, autofocus: true, class: 'form-control'
    .form-group
      = f.label :password, t('views.users.form.password'), class: 'control-label col-sm-3'
      .col-sm-9
        = f.password_field :password, autocomplete: 'off', class: 'form-control'
    - if devise_mapping.rememberable?
      .form-group
        .col-sm-offset-3.col-sm-9
          .checkbox
            = f.label :remember_me do
              = f.check_box :remember_me
              = t('views.users.form.remember_me')
    .form-group
      .col-sm-offset-3.col-sm-9
        = f.submit t('views.users.form.sign_in'), class: 'btn btn-success'

= render 'devise/shared/links'
