table.table.table.striped
  thead
    tr
      th.col-sm-3 = t("views.emails.index.#{direction == 'incoming' ? 'from' : 'to'}")
      th.col-sm-5 = t('views.emails.form.subject_line')
      th.col-sm-2 = t('views.emails.form.created_at')
      th.col-sm-1

  tbody
    - message_users.each do |message_user|
      tr class="#{message_user.viewed || direction == 'outgoing' ? '' : 'success'}"
        td
          - if direction == 'incoming'
            = message_user.message.creator.full_name
          - else
            - message_user.message.message_users.all_inbox.each do |message_user|
              .label.label-info => message_user.user.full_name
        td = link_to message_user.message.subject_line, email_path(message_user.id), title: t('views.emails.index.view_tooltip')
        td = message_user.message.created_at
        td.text-right
          - if current_user.id == message_user.message.created_by
            => link_to t('views.general.edit'), edit_message_path(message_user.message), class: 'btn btn-warning btn-xs'
          = link_to t('views.general.delete'), email_path(message_user.id), data: { confirm: t('views.general.delete_confirm')}, method: :delete, class: 'btn btn-danger btn-xs'
