h1
  .pull-left = t('views.emails.index.h1')
  .pull-right = link_to t('views.emails.index.new'), new_message_path, class: 'btn btn-success'
  .clearfix

ul.nav.nav-pills role="tablist"
  li role="presentation" class="active"
    a href="#inbox" aria-controls="home" role="tab" data-toggle="tab"
      = t('views.emails.index.inbox')
  li role="presentation"
    a href="#sent" aria-controls="profile" role="tab" data-toggle="tab"
      = t('views.emails.index.sent')

.tab-content
  .tab-pane.fade.in.active#inbox
    = render partial: 'emails', locals: { message_users: @inbox_message_users, direction: 'incoming' }
  .tab-pane.fade#sent
    = render partial: 'emails', locals: { message_users: @sent_message_users, direction: 'outgoing' }
