h1 = t('views.emails.show.h1')

table.table.table-responsive
  tr
    th.col-sm-3 = t('views.emails.index.from')
    td.col-sm-9
      - if @message_user.message.creator.id == current_user.id
        => @message_user.message.creator.full_name
      - else
        => link_to @message_user.message.creator.full_name, new_message_url(to: @message_user.message.creator.email)
  tr
    th = t('views.emails.form.created_at')
    td = @message_user.created_at
  tr
    th = t('views.emails.index.to')
    td
      - @message_user.message.message_users.all_inbox.each do |message_user|
        - if message_user.user_id == current_user.id
          => message_user.user.full_name
        - else
          => link_to message_user.user.full_name, new_message_url(to: message_user.user.email)
          = message_viewed_or_not(message_user.viewed)
          br
  tr
    th = t('views.emails.form.subject_line')
    td = @message_user.message.subject_line
  tr
    th = t('views.emails.form.body_content')
    td = sanitize @message_user.message.body_content.gsub("\n",'<br />')
  tr
    th = t('views.users.form.id')
    td = @message_user.id

p
  => link_to t('views.general.back'), emails_path, class: 'btn btn-info'
  -if current_user.id == @message_user.message.created_by
    = link_to t('views.general.edit'), edit_message_path(@message_user.message), class: 'btn btn-warning'

