- if flash[:success]
  p.alert.alert-success = flash[:success]
- elsif flash[:notice]
  p.alert.alert-info = flash[:notice]
- elsif flash[:alert]
  p.alert.alert-warning = flash[:alert]
- elsif flash[:error]
  p.alert.alert-danger = flash[:error]
