nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"
        span class="sr-only" Toggle navigation</span>
        - 3.times do
          span.icon-bar
      = link_to 'Email Project', root_url, class: 'navbar-brand'

    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        li class="#{controller_name == 'emails' ? 'active' : ''}"
          = link_to t('views.emails.index.h1'), emails_url
        li class="#{controller_name == 'users' ? 'active' : ''}"
          = link_to t('views.users.index.h1'), users_url
        li.dropdown
          = link_to '#', data: { toggle: 'dropdown'}, role: 'button', class: 'dropdown-toggle', aria: { haspopup: true, expanded: false } do
            = t('views.navbar.contact')
            span.caret
          ul.dropdown-menu
            li = link_to t('views.navbar.linkedin'), 'https://ie.linkedin.com/in/danlaffan', target: '_blank'
            li = link_to t('views.navbar.website'), 'http://danlaffan.com', target: '_blank'
      ul.nav.navbar-nav.navbar-right
        - if current_user
          li = link_to t('views.navbar.profile'), current_user, class: 'active'
          li = link_to t('views.navbar.log_out'), destroy_user_session_url, method: :delete
        - else
          li = link_to t('views.navbar.sign_in'), new_user_session_url
          li = link_to t('views.navbar.sign_up'), new_user_registration_url, class: 'active'
