doctype 5
html lang="en"
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1"

    title Email Service
    meta name="author" content='Dan Laffan'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = csrf_meta_tags

    /! HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    /! WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      script src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js'
      script src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js'

  body id="page-#{controller_name}-#{action_name}"
    = render partial: 'layouts/navbar'
    .container
      .row
        .col-xs-12
          = render partial: 'layouts/flash_messages'
          = yield
